# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environments ---
.venv/
venv/
env/

# --- Build Artifacts ---
build/
dist/
*.spec

# --- Logs ---
*.log

# --- OS Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE / Editor ---
.vscode/
.idea/
*.code-workspace

# --- cx_Freeze cache ---
*.zip
*.bak

# --- other ---
